/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  font-family: "Segoe UI", sans-serif, system-ui;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Reset form controls */
input,
button,
textarea,
select {
  /* Remove all native OS appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Inherit styles from the parent/body */
  font: inherit;
  color: inherit;
  /* Reset surface and borders to a blank slate */
  background-color: transparent;
  border: none;
  /* Improve accessibility for focus states */
  outline-offset: 2px;
}

a,
a:visited {
  color: inherit;
}

/* 8. Avoid text overflows */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* 9. Improve line wrapping */
/* p {
  text-wrap: pretty;
} */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
} */

/* 10. Remove default bullets and numbering from all lists */
ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}
