.c-faq-accordion__item {
  margin-bottom: 8px;
}

.c-faq-accordion__question {
  font-size: inherit;
  font-weight: inherit;
  background-color: var(--clr-bg-secondary);
}

.c-faq-accordion__question[data-expanded="true"] {
  margin-bottom: 0.125rem;
}

.c-faq-accordion__toggle {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  .c-faq-accordion__toggle {
    transition: none;
  }
}

.c-faq-accordion__toggle:focus-visible {
  background-color: var(--clr-bg-secondary-hover);
}

@media (any-hover: hover) {
  .c-faq-accordion__toggle:hover {
    background-color: var(--clr-bg-secondary-hover);
  }
}

.c-faq-accordion__icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  transition: transform 0.3s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  .c-faq-accordion__icon {
    transition: none;
  }
}

@media (width >= 960px) {
  .c-faq-accordion__icon {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.c-faq-accordion__toggle[aria-expanded="true"] .c-faq-accordion__icon {
  transform: rotate(45deg);
}

.c-faq-accordion__answer {
  padding: 0 1.5rem;
  font-size: inherit;
  font-weight: inherit;
  max-height: 0;
  overflow: hidden;
  background-color: var(--clr-bg-secondary);
  transition: all 0.3s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  .c-faq-accordion__answer {
    transition: none;
  }
}

.c-faq-accordion__answer[data-expanded="true"] {
  max-height: none;
  padding: 1.5rem;
  margin-top: 2px;
}
