.o-page-body {
  width: 100%;
  max-width: 120rem;
  margin-inline: auto;
  margin-top: -3rem;
  padding: 0 1.5rem;
  z-index: var(--z-page-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (width >= 600px) {
  .o-page-body {
    margin-top: -2rem;
    padding: 0 2rem;
  }
}

@media (width >= 960px) {
  .o-page-body {
    padding: 0 5rem;
  }
}

@media (width >= 1280px) {
  .o-page-body {
    padding: 0 9.25rem;
  }
}

@media (width >= 1920px) {
  .o-page-body {
    padding: 0 22.125rem;
  }
}
